
/* All of hte wonderful fonts!!!*/
/* All of hte wonderful fonts!!!*/
/* All of hte wonderful fonts!!!*/

@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplay-bold-webfont.eot');
  src: url('../fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-bold-webfont.ttf') format('truetype'),
       url('../fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplay-bolditalic-webfont.eot');
  src: url('../fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplay-italic-webfont.eot');
  src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
       url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'playfair_display';
  src: url('../fonts/playfairdisplay-regular-webfont.eot');
  src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
       url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
       url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-light-webfont.eot');
  src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway-light-webfont.woff2') format('woff2'),
       url('../fonts/vraleway-light-webfont.ttf') format('truetype'),
       url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-lightitalic-webfont.eot');
  src: url('../fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/raleway-lightitalic-webfont.ttf') format('truetype'),
       url('../fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-medium-webfont.eot');
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
       url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
       url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: bold;

}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-mediumitalic-webfont.eot');
  src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
       url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

/*Getting into the site General stuff */
/*Getting into the site General stuff */
/*Getting into the site General stuff */

body {
  width: 420px;    /* CHANGE FOR MEDIA */
  margin: 0 auto;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 87.5%;   /* CHANGE FOR MEDIA */
  color: #2d2d2d;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'playfair_display', Arial, sans-serif;
}

h3, .nav li {
  color: #e2574c
}

/* Top part with logo, cart and nav links */
/* Top part with logo, cart and nav links */
/* Top part with logo, cart and nav links */
/* Top box flex box attempt */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.logo {
  display: flex;
  order: 1;
  width: 75%;
  display: none;    /* CHANGE FOR MEDIA */
}

.nav {
  color: #e2547c;
  display: inline-block;
  display: flex;
  order: 3;
  top: 60px;
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  justify-content: space-between;
}

.cart {
  display: flex ;
  order: 2;
  width: 25%;
  display: none;    /* CHANGE FOR MEDIA */
}

.container, .nav, .a3, .s3, .a4, .s4, .updates {
  padding: 20px 2px 2px 0px;
  width: 420px;       /* CHANGE FOR MEDIA */
  margin: 0 auto;
  text-align: center;
}

.container p {
  padding: 10px 0 20px 0;
}
.s3 li {
    display: inline-block;
    text-align: none;
}

.nav li {
  display: inline;
}

/* Banner with 2 background images and text centered */
/* Banner with 2 background images and text centered */
/* Banner with 2 background images and text centered */

.collection, .season {
    text-align: center;
    font-size: 60px;
    margin: 0px auto;
}

.collection{
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

.season {
  padding: 20px 0 0 0;
}

.hero {
  background-image: url('../images/banner-girl.png'), url('../images/flower-bkgd.jpg');
  background-position: center 60px, center top;
  background-repeat: no-repeat, no-repeat;
  background-size: 150px, cover;
  margin-top: 60px;
  height: 400px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FLEXBOX Categories */
/* FLEXBOX Categories */
/* FLEXBOX Categories */

/* Categories - attempting Flex box.  two lines
 Using Class Box (box1, box2) and p*/
.box {
  display: flex;
  flex-direction: column;
}

.box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  size: 420px;     /* CHANGE FOR MEDIA */
}

.men {
 background-image: url(../images/mens-category.jpg);
 background-size: contain;
 margin: 1px 1px 1px 1px;
 background-size: 420px 50%;
 width: 99%;       /* CHANGE FOR MEDIA */
 height: 150px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
 order: 1;
}

.trend {
  background: url(../images/trends-category.jpg);
  background-size: contain;
  margin: 1px 1px 1px 1px;
  background-size: 420px 50%;   /* CHANGE FOR MEDIA */
  width: 49%;     /* CHANGE FOR MEDIA */
  height: 150px;   /* vw??? */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.glass {
  background: url(../images/glasses-category.jpg);
  background-size: contain;
  margin: 1px 1px 1px 1px;
  background-size: 420px 50%;   /* CHANGE FOR MEDIA */
  width: 49%;          /* CHANGE FOR MEDIA */
  height: 150px;       /* CHANGE FOR MEDIA */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
}

.sale {
  background: url(../images/sale-category.jpg);
  background-size: contain;
  margin: 1px 1px 1px 1px;
  background-size: 420px 50%;   /* CHANGE FOR MEDIA */
  width: 49%;             /* CHANGE FOR MEDIA */
  height: 150px;           /* CHANGE FOR MEDIA */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}

.bag {
  background: url(../images/bags-category.jpg);
  background-size: contain;
  margin: 1px 1px 1px 1px; 
  background-size: 420px 50%;    /* CHANGE FOR MEDIA */
  width: 49%;                /* CHANGE FOR MEDIA */
  height: 150px;            /* CHANGE FOR MEDIA */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.women {
  background: url(../images/womens-category.jpg);
  background-size: contain;
  margin: 1px 1px 1px 1px;
  background-size: 420px 50%;      /* CHANGE FOR MEDIA */
  width: 99%;             /* CHANGE FOR MEDIA */
  height: 150px;            /* CHANGE FOR MEDIA */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 3;
}



/* Sign up for updates text with background image */
/* Sign up for updates text with background image */
/* Sign up for updates text with background image */

.updates {
  background: url(../images/wave-bkgd.jpg);
  background-size: contain;
  margin: 2em 0px .5em 0px;
  background-size: 420px 100%;      /* CHANGE FOR MEDIA */
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}

.s4 {
 padding: 1em 0 2em 0;
}

form {
  	background-color: #ffffff;
    padding: 5px;
    border-radius: 50px;
    width: 72%;
    align: center;
    display: flex;
    align-items: center; 
    margin: 0 auto;
    margin-bottom: 1em;
}

input {
    background-color: #ffffff;
    border: 0;
    border-radius: 50px 50px 50px 50px;
    margin-left: 16px;
      color: #969696;
    padding: 10px 0 10px 5px;
    width: 5cm;
    height: 20px;
}

  button{
    background-color: #ff0000;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px 16px;
    border: 0;
}

  button:hover {
    color: #000000;
}


/* Address and Social media links with awesome font icons */
/* Address and Social media links with awesome font icons */
/* Address and Social media links with awesome font icons */
footer {
  display: flex;
  flex-direction: column;
  Justify-content: center;
  align-content: space-around;
  align-items: center;
  background-color: #242424;
  color: #969696;
  padding: 1em 1em 1em 1em;
}

.copyright p {
  display: flex;
  order: 1;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.copyright a {
  padding: .5em 0;
}

.socialmedia {
  display: flex;
  order: 2;
  flex-direction: row;         /* CHANGE FOR MEDIA */
  align-self: space-around;
  justify-content: space-around;
  list-style-type: none;
  padding: 5px 0 0 0;
}

.socialmedia li {
  padding: .4em 0;
}

a:link {
  color: #969696; /* unvisited link */
  text-decoration: none;
}

a:visited {
  color: #969696; /* visited link */
  text-decoration: none;
}

a:hover {
  color: #b64036; /* mouse over link */
  text-decoration: none;
}

a:active {
  color: blue; /* selected link */
  text-decoration: none;
}


/* FLICKITY FLICKITY FLICKITY */
/* FLICKITY FLICKITY FLICKITY */
/* FLICKITY FLICKITY FLICKITY */
/* external css: flickity.css */

* { box-sizing: border-box; }
.carousel-cell {
  width: 100%;  /* Need to change to 50% at 600px : 25% @ 1240px */
}

.carousel {
  background: #EEE;
}



@media all and (min-width: 600px); {
 
  /*Getting into the site General stuff */

  body {
    width: 420px;    /* CHANGE FOR MEDIA */
    font-size: 87.5%;   /* CHANGE FOR MEDIA */
  }

  /* Top part with logo, cart and nav links */
  /* Top box flex box attempt */
  .logo {
    display: none;    /* CHANGE FOR MEDIA */
  }

  .cart {
    display: none;    /* CHANGE FOR MEDIA */
  }
    

  .container, .nav, .a3, .s3, .a4, .s4, .updates {
    width: 420px;       /* CHANGE FOR MEDIA */
  }
     

  /* FLEXBOX Categories */

  /* Categories - attempting Flex box.  two lines
  Using Class Box (box1, box2) and p*/

  .box2 {
    size: 420px;     /* CHANGE FOR MEDIA */
  }
    
  .men {
    background-size: 420px 50%;
    width: 99%;       /* CHANGE FOR MEDIA */
  }
    
  .trend {
    background-size: 420px 50%;   /* CHANGE FOR MEDIA */
    width: 49%;     /* CHANGE FOR MEDIA */
    height: 150px;   /* vw??? */
  }
    
  .glass {
    background-size: 420px 50%;   /* CHANGE FOR MEDIA */
    width: 49%;          /* CHANGE FOR MEDIA */
    height: 150px;       /* CHANGE FOR MEDIA */
  }
    
  .sale {
    background-size: 420px 50%;   /* CHANGE FOR MEDIA */
    width: 49%;             /* CHANGE FOR MEDIA */
    height: 150px;           /* CHANGE FOR MEDIA */
  }
    
  .bag {
    background-size: 420px 50%;    /* CHANGE FOR MEDIA */
    width: 49%;                /* CHANGE FOR MEDIA */
    height: 150px;            /* CHANGE FOR MEDIA */
  }
    
  .women {
    background-size: 420px 50%;      /* CHANGE FOR MEDIA */
    width: 99%;             /* CHANGE FOR MEDIA */
    height: 150px;            /* CHANGE FOR MEDIA */
  }

  /* Sign up for updates text with background image */

  .updates {
    background-size: 420px 100%;      /* CHANGE FOR MEDIA */
  }

  /* Address and Social media links with awesome font icons */

  .socialmedia {
    flex-direction: row;         /* CHANGE FOR MEDIA */
  }

  /* FLICKITY FLICKITY FLICKITY */
  /* external css: flickity.css */

  .carousel-cell {
    width: 100%;  /* Need to change to 50% at 600px : 25% @ 1240px */
  }

  /*all new applicable CSS goes in here*/
}








/* @media all and (min-width: 1240px); */


/* CHANGE FOR MEDIA */
/* CHANGE FOR MEDIA */